body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #region Header */
button {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}
.main-header {
  padding-top: 28px;
  padding-bottom: 28px;
}

.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
}

.header-logo {
  margin-right: 631px;
}

.logo-span {
  font-style: italic;
}

.nav {
}

.nav-list {
}

.nav-list-item {
}
.nav-list-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}
/* #endregion Header */
/* #region Hero */
.hero {
  background-color: #1e1823;
}

.hero-content {
  padding: 375px 72px 46px 72px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
}

.hero-button {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
}

.hero-button:hover,
.hero-button:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}

.hero-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.hero-link:hover,
.hero-link:focus {
  color: #fd9222;
}

.down-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: #fff;
}

.down-link:hover,
.down-link:focus {
  color: #fd9222;
}
/* #endregion Hero */
/* #region Introduction */
.introduction {
  background-color: #1e1823;
}

.list {
}

.list-item {
}

.list-item-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.list-item-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* #endregion Introduction */
/* #region Secret chocolate */
.secret {
}

.secret-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.secret-title-word {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fd9222;
}

.secret-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
}

.secret-list {
}

.secret-list-item {
}

.secret-images {
}

.secret-images-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}
/* #endregion Secret chocolate */
/* #region How to make chocolate? */
.make {
}

.make-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.make-title-word {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fd9222;
}

.make-image {
}

.make-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
}

.make-name-list {
}

.make-name-list-item {
}

.make-name-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #111;
}
/* #endregion How to make chocolate? */
/* #region Review */
.review {
}

.review-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.review-title-word {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fd9222;
}

.review-list {
}

.review-item {
}

.review-images {
}

.review-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
}

.review-name-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.review-btn {
  font-weight: 600;
  font-size: 18px;
  color: #111;
}

.review-btn:hover,
.review-btn:focus {
  color: #fff;
  background-color: #fd9222;
}
/* #endregion Review */
/* #region Footer */
.footer {
  background-color: #1e1823;
}

.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-title-word {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fd9222;
}

.footer-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #fff;
}

.footer-address {
}

.footer-address-list {
}

.footer-address-item {
}

.footer-address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}

.footer-nav {
}

.footer-nav-list {
}

.footer-nav-list-item {
}

.footer-nav-list-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}
/* #endregion Footer */
